@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');
header {
    background-image: url(../images/bg.png);
    background-size: 100% 100%;
}

.title {
    padding: 240px 0 180px 0;
}

.title h1{
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 48px;
    color: #735440;
}

.title2 {
    padding: 20px 0 20px 0;
}

.title2 h1 {
    font-size: 48px;
    color: #735440;
}

.title button {
    font-family: 'Roboto Slab';
    font-weight: 400;
    margin-top: 75px;
    width: 160px;
    height: 55px;
    background-color: #57984C;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 20px, 30px;
    transition: 0.4s linear;
}
.title button:hover {
    background-color: #0e5a00;
    transition: 0.4s linear;
}


.main-back{
    background-color: #fff;
}


.colection2  {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 20px;
    background-color: #FCF0F0;
}
.colection  {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #fff;
}

.product_item p{
    padding-top: 15px;
    font-size: 20px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
}
.vision {
    background-image: url('../images/Union.png');
    background-size: 100%;
    padding-top: 50px;
    background-repeat: no-repeat;
}

.vision_title h1{
    font-size: 64px;
    font-weight: 700;
    font-family: 'Robolo Slab', sans-serif;
}

.vision_text {
    font-size: 20px;
    padding-top: 20px;
    line-height: 40px;
}

.vision_img img {
    width: 100%;
    box-shadow: 14px 14px 8px 0px rgba(34, 60, 80, 0.2);
}

.vision_2 {
    padding: 100px 0;
}

#btn_sub {
    margin-bottom: 20px;
}

.mainActiv {
    text-align: center;
}

.mainActiv_title h1{
    margin-top: 95px;
    font-size: 40px;
    font-family: 'Robolo Slab', sans-serif;
    font-weight: 700;
}

.mainActiv_product h2 {
    font-size: 24px;
    font-family: 'Robolo Slab', sans-serif;
    font-weight: 700;
    color: #57984C;
}

.mainActiv_product p {
    font-size: 18px;
    margin-bottom: 95px;
}

.mainActiv_img {
    margin-bottom: 40px;
}

.mainActiv_img img {
    width: 100%;
}

.mainActiv_line {
    padding: 10px 0;
}


@media (max-width: 991px){

    .mainActiv_product p {
        margin-bottom: 0px;
    }
    
    .mainActiv_img {
        margin-bottom: -50px;
    }

    .mainActiv_last {
        margin-bottom: 30px;
    }
    
}

@media (max-width: 991px){

    .title {
        padding: 140px 0 170px 0;
    }
    .title2 {
        padding: 10px 0 10px 0;
    }
    .vision {
        text-align: center;
    }
    .vision_img {
        padding-top: 50px;
    }
    header{
        background-size: cover;
    }


}
@media (max-width: 767px){
    .product_item img {
        max-height: 250px;
    }
    header {
        background-position: bottom;
        background-size: cover;

    }
    .vision_img img {
        width: 100%;
    }
    
}

@media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
      width: 100%;
      *width: 100%;
    }
    header{
        background-size: cover;
    }
  }
  
  @media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
      max-width: 14.285714285714285714285714285714% !important;
  flex:none !important;
    }
    header{
        background-size: cover;
    }
  }
   
  @media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
      max-width: 14.285714285714285714285714285714% !important;
  flex:none !important;
    }
    header{
        background-size: cover;
    }
}