<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=320, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/headfoot.css">
    <link rel="stylesheet" href="css/contactUs.css">
    <link rel="icon" href="images/test.png">
    <title>Contact us</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="logo col-lg-3">
                    <a href="index.html"><img src="images/Logo.png" alt="Agridera" class="logo"></a>
                    <div class="burgerMenu">
                        <div class="openMenu">
                            <div class="burger-line first"></div>
                            <div class="burger-line second"></div>
                            <div class="burger-line third"></div>
                            <div class="burger-line fourth"></div>
                        </div>
                        <div class="closeMenu">
                            <div class="burger-line first"></div>
                            <div class="burger-line second"></div>
                            <div class="burger-line third"></div>
                            <div class="burger-line fourth"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 ml-auto">
                    <nav>
                        <div class="search col-lg-12">
                            <form class="" action="">
                                <input type="text" placeholder="Search" name="search">
                                <button type="submit"><img src="images/search.png" alt="search"></button>
                              </form>
                        </div>
                        <br>
                        <div class="menuUp">
                            <ul class="menu d-flex justify-content-center">
                                <li class="menu__item"> 
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">Company</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">Profile</a>
                                </li>
                                <li class="menu__item">
                                    <a href="tomatoAll.html">Products</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">Services</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">R&D</a>
                                </li>
                                <li class="menu__item">
                                    <a href="contactUs.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            </div>
        </header>

    <section class="headerImg">
        <div class="container-fluid">
            <div class="row">
            </div>
        </div>
    </section>


    <section class="contactUs item">
        <div class="container">
            <div class="row">
                <div class="col contactUs_title">
                    <h1>Contact us</h1>
                </div>
            </div>
            <div class="row">
                <div class="crosses col">
                    <p class="x">&#10006;&#10006;&#10006;&#10006;&#10006;</p>
                </div>
            </div>
        <form v-on:submit.prevent="makeOrder()" v-if="!orderVisible">
            <div class="cart">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-if="cart" v-for="i in cart" style="width: 100%;">
                        <td scope="row"><img :src="'images/img/'+i.image" height="50px" alt=""></td>
                        <td>{{i.title}}</td>
                        <td>{{i.short_text}}</td>
                        <td><a @click.prevent="removeFromCart(i.id)"><img src="images/close_red.svg" height="20px" alt="close" :id="'remove_'+i.id"></a></td>
                      </tr>
                    </tbody>
                  </table>
                  <div v-if="cart.length<1">
                    Cart is empty
                  </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="contactUs_item">
                        <p>Name *</p>
                        <div class="name_input">
                            <input type="name" required v-model="contactFields.name">
                        </div>
                    </div>
                    <div class="contactUs_item">
                        <p>Company Name</p>
                        <div class="cName_input">
                            <input type="name" name="cName" v-model="contactFields.cName">
                        </div>
                    </div>
                    <div class="contactUs_item">
                        <p>Position</p>
                        <div class="position_input">
                            <input type="text" name="position" v-model="contactFields.position">
                        </div>
                    </div>
                    <div class="contactUs_item">
                        <p>City</p>
                        <div class="city_input">
                            <input type="text" name="city" v-model="contactFields.city">
                        </div>
                    </div>
                    <div class="contactUs_item">
                        <p>Country</p>
                        <div class="country_input">
                            <input type="text" name="country" v-model="contactFields.country">
                        </div>
                    </div>
                    <div class="contactUs_item">
                        <p>Telephone</p>
                        <div class="telephone_input">
                            <input type="tel" name="telephone" v-model="contactFields.telephone">
                        </div>
                    </div>
                    <div class="contactUs_item">
                        <p>Email *</p>
                        <div class="email_input">
                            <input type="email" name="email" required v-model="contactFields.email">
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-7 ml-auto">
                    <div class="contactUs_item">
                        <p>You are a</p>
                        <div class="youarea_input">
                            <select name="youarea" v-model="contactFields.youarea">
                                <option value="seed">first producer</option>
                                <option value="tomato">second producer</option>
                                <option value="sunflower">third producer</option>
                            </select>
                        </div>
                    </div>
                    <div class="contactUs_item">
                        <p>If other, please specify</p>
                        <div class="otherspec_input">
                            <input type="text" name="otherspec" v-model="contactFields.otherspec">
                        </div>
                    </div>
                    <div class="contactUs_item">
                        <p>You are interested in</p>
                        <div class="interests_input">
                            <textarea name="interests" v-model="contactFields.interests"></textarea>
                        </div>
                    </div>
                    <div class="contactUs_item">
                        <p>Please type this code</p>
                        <div class="row">
                            <div class="col-lg-2 align-self-center p-0">
                                <img src="images/contactUs/code.svg" alt="code" >
                            </div>
                            <div class="col-lg-5">
                                <div class="code_input">
                                    <input type="text" name="code" class="code" v-model="contactFields.code">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="code_button">
                                    <input type="submit" value="Send Message">  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </form>
            <div class="orderInfo" v-if="orderVisible">
                <div class="row">
                    <div class="col">
                        <h1>Your info</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><h3>Name: </h3> <br>
                        {{contactFields.name}}</p>
                        <p><h3>Company Name: </h3> <br>
                        {{contactFields.cName}}</p>
                        <p><h3>Position: </h3> <br>
                        {{contactFields.position}}</p>
                        <p><h3>City: </h3> <br>
                        {{contactFields.city}}</p>
                        <p><h3>Country: </h3> <br>
                        {{contactFields.country}}</p>
                        <p><h3>Telephone: </h3> <br>
                        {{contactFields.telephone}}</p>
                        <p><h3>Email: </h3> <br>
                        {{contactFields.email}}</p>
                    </div>
                    <div class="col">
                        <p><h3>You are a: </h3> <br>
                        {{contactFields.youarea}}</p>
                        <p><h3>If other, please specify: </h3> <br>
                        {{contactFields.otherspec}}</p>
                        <p><h3>You are interested in: </h3> <br>
                        {{contactFields.interests}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="address">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h3>Our Address</h3>
                    </div>
                </div>
                <div class="address_text">
                    <img src="images/line.svg" alt="line" class="line">
                        <p>AGRIDERA Seeds & Agriculture Ltd.</p>
                        <p>P.O Box 103,</p>
                        <p>Gedera 70750, Israel.</p>
                        <p>Telephone: <span class="greenText">+972 8 944 9222</span></p>
                </div>
            </div>
    </section>


    <section id="footerFirst" class="footerFirst">
        <div class="container">
            <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <ul class="footer_menu">
                            <li class="footer_item"> 
                                <a href="index.html">PROFILE</a>
                            </li>
                            <li class="footer_item">
                                <a href="#">MANAGEMENT</a>
                            </li>
                            <li class="footer_item">
                                <a href="tomatoAll.html">PRODUCTS</a>
                            </li>
                            <li class="footer_item">
                                <a href="#">R&D</a>
                            </li>
                            <li class="footer_item">
                                <a href="#">LINKS</a>
                            </li>
                            <li class="footer_item">
                                <a href="#">SITEMAP</a>
                            </li>
                            <li class="footer_item">
                                <a href="contactUs.html">CONTACT</a>
                            </li>
                        </ul> 
                    </div>
                    <div class="col-lg-3 d-flex justify-content-center ml-auto">
                        <li class="footer_link">
                            <a href="#"><img src="images/linkedin.svg" alt="linkedin"></a>
                        </li>
                        <li class="footer_link">
                            <a href="#"><img src="images/inst.svg" alt="instagram"></a>
                        </li>
                        <li class="footer_link">
                            <a href="#"><img src="images/youtube.svg" alt="youtube"></a>
                        </li>
                        <li class="footer_link">
                            <a href="#"><img src="images/Ico_tw.svg" alt="twitter"></a>
                        </li>
                        <li class="footer_link">
                            <a href="#"><img src="images/Ico_fb.svg" alt="facebook"></a>
                        </li>
                    </div>
            </div>
        </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center ">
                AGRIDERA SEEDS & AGRICULTURE LTD. © 2022
            </div>
        </div>
    </div>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
    <script src="js/menu.js"></script>
</html>
