<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=320, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/headfoot.css">
    <link rel="stylesheet" href="css/tomatoOne.css">
    <link rel="icon" href="images/test.png">
    <title>Apple One</title>
</head>

<body>
    <header id="tomatoAll" class="header">
        <div class="container">
            <div class="row">
                <div class="logo col-lg-3">
                    <a href="index.html"><img src="images/Logo.png" alt="Agridera" class="logo"></a>
                    <div class="burgerMenu">
                        <div class="openMenu">
                            <div class="burger-line first"></div>
                            <div class="burger-line second"></div>
                            <div class="burger-line third"></div>
                            <div class="burger-line fourth"></div>
                        </div>
                        <div class="closeMenu">
                            <div class="burger-line first"></div>
                            <div class="burger-line second"></div>
                            <div class="burger-line third"></div>
                            <div class="burger-line fourth"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 ml-auto">
                    <nav>
                        <div class="search col-lg-12">
                            <form class="" action="">
                                <input type="text" placeholder="Search" name="search">
                                <button type="submit"><img src="images/search.png" alt="search"></button>
                              </form>
                        </div>
                        <br>
                        <div class="menuUp">
                            <ul class="menu d-flex justify-content-center">
                                <li class="menu__item"> 
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">Company</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">Profile</a>
                                </li>
                                <li class="menu__item">
                                    <a href="tomatoAll.html">Products</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">Services</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">R&D</a>
                                </li>
                                <li class="menu__item">
                                    <a href="contactUs.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            </div>
        </header>

    <section class="tomatoOne">
        <div class="container">
            <div class="row">
                <div class="goBack">
                    <a href="tomatoAll.html">
                        <img src="images/tomatoOne/Arrow.svg" alt="arrow">
                        Return to all eggplants
                    </a>
                </div>
            </div>

            <div class="row item" v-if="product">
                <div class="col-lg-6">
                    <div class="title">
                        <div class="title__text">
                            <h1>{{product.title}}</h1>
                            <h2>{{product.short_text}}</h2>
                        </div>
                        <div class="row">
                            <p class="x">&#10006;&#10006;&#10006;&#10006;&#10006;</p>
                        </div>
                        <div class="row quality">
                            <div class="col-lg-2">
                                <img src="images/tomatoOne/quality.svg" alt="quality">
                            </div>
                                <div class="col-lg-8">
                                    <b class="quality__text">Very high yield and excellent fruits quality!</b>
                                </div>
                        </div>

                        <div class="row">
                            <div class="textBlock">
                                <div class="textBlock_item">
                                    <h3>DESCRIPTION</h3>
                                    <img src="images/line.svg" alt="line">
                                    <p>{{product.desc}}</p>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tomatoImage"><img :src="'images/img/'+product.image" alt="apple"></div>

                    <div class="download">
                        <button @click.prevent="addToCart(product.id)" v-if="!btnVisible"><img src="images/shopping-cart.svg" alt="pdf"><span>Add to card</span></button>
                        <a href="contactUs.html"><button v-if="btnVisible"><img src="images/shopping-cart.svg" alt="cart"><span>Go to card</span></button></a>
                    </div>

                    <div class="textBlock_item">
                        <h3>Cycle</h3>
                        <img src="images/line.svg" alt="line">
                        <br><b>Resistance</b>
                        <ul>
                            <li><span>Spring</span></li>
                            <li><span>Fall</span></li>
                            <li><span>Winter</span></li>
                        </ul>
                    </div>

                    <div class="textBlock_item">
                        <h3>Color</h3>
                        <img src="images/line.svg" alt="line">
                        <p>Black</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footerFirst">
        <div class="container">
            <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <ul class="footer_menu">
                            <li class="footer_item"> 
                                <a href="#">PROFILE</a>
                            </li>
                            <li class="footer_item">
                                <a href="#">MANAGEMENT</a>
                            </li>
                            <li class="footer_item">
                                <a href="tomatoAll.html">PRODUCTS</a>
                            </li>
                            <li class="footer_item">
                                <a href="#">R&D</a>
                            </li>
                            <li class="footer_item">
                                <a href="#">LINKS</a>
                            </li>
                            <li class="footer_item">
                                <a href="#">SITEMAP</a>
                            </li>
                            <li class="footer_item">
                                <a href="contactUs.html">CONTACT</a>
                            </li>
                        </ul> 
                    </div>
                    <div class="col-lg-3 d-flex justify-content-center ml-auto">
                        <li class="footer_link">
                            <a href="#"><img src="images/linkedin.svg" alt="linkedin"></a>
                        </li>
                        <li class="footer_link">
                            <a href="#"><img src="images/inst.svg" alt="instagram"></a>
                        </li>
                        <li class="footer_link">
                            <a href="#"><img src="images/youtube.svg" alt="youtube"></a>
                        </li>
                        <li class="footer_link">
                            <a href="#"><img src="images/Ico_tw.svg" alt="twitter"></a>
                        </li>
                        <li class="footer_link">
                            <a href="#"><img src="images/Ico_fb.svg" alt="facebook"></a>
                        </li>
                    </div>
            </div>
        </div>
    </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col d-flex justify-content-center ">
                        AGRIDERA SEEDS & AGRICULTURE LTD. © 2022
                    </div>
                </div>
            </div>
        </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
    <script src="js/menu.js"></script>
</html>
