body{
	font-family: sans-serif, Heebo;
	margin: 0;
	font-size: 150%;
	width: 100%;
}

.bold{
	font-weight: bold;

}
/* HEADER */

.header_tomato{
	width:100%;
	height: 120px;
	background-color: #F7F7F7;
}
.header{
	width:100%;
	height: 850px;
	background: url(../img/bg.jpg)  center center/cover no-repeat;
	position: relative;
}
.header_content{
	width: 100%;
	height: 100%;
}
.header_content_tomato{	 
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 70%;
	height: 100%;
	margin: 0 15% 0 15%;
}
.header_content_top{	 
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 	
    width: 1115px;
    height: 15%;
   	margin:0 auto;
}
.logo{
	width: 30%;
}
.search{
	width: 245px;
	height: 50px;
	margin-left: 320px;
}
.search_menu{
	height: 100%;
	width: 700px;
}
.p_search{
	border-bottom: solid 1px #324950;
	float: margin-right;
}
input[type=search]{
	border: 0px;
	background-color: rgba(0, 0, 0, 0);
	font-family:Roboto Slab, sans-serif ;
	font-size: 80%;
}
input[type=search]:focus {
  color: #000000;
  border: 1px solid red;
}
.Search_pic{
	position: absolute;
	float: right;
}
.burger_menuX{
	padding: 20px 0;
}
.burger_menu{
	display: none;
}
#menu_text{
	color:  #324950;
	font-family: sans-serif,Heebo;
	font-size: 90%;
	margin-right: 10px ;
}
.header_content_bottom{
text-align: center;
margin-top:300PX;

}
.a_button{
	width: 160px;
height: 55px;
padding: 16px 31px 16px 31px;
 background-color: #57984C;
color: #fff;
}	
.shadow{
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.header_contactus{
	height: 120px;
	background-color: #fff;
}

#burger, [for=burger]{
	display: none;
}
label{
	right: 100px;
}
