
@media screen and (max-width: 1300px) {
	.header_content_top{
		width: 900px;
	}
	#menu_text {
    font-size: 65%;
  }
  .search_menu {
    height: 100%;
    width: 500px;
}
	.search{
	width: 245px;
	height: 50px;
	margin-left: 170px;
}
	.main_text{
		font-size: 150% ;
	}
	.header_content {
    height: 80%;
}
	.h1text{
		font-size: 80%;
	}
	.textj{
		font-size: 20px	;
	}
	#Products_div{
		margin: 20px;
	}
	.ma_h1{
		font-size: 100%;
	}


	/*TOMATO ALL*/
		.header_content_tomato{
		width: 900px;
	}
	.tomato_info{
		font-size: 15px;
	}
	.ti_content{
		width: 900px;
	}
	.ti_blocks{
		width: 900px;
	}
	.ti_block {
    width: 260px;
    height: 260px;
    margin: 10px;}


    /*TONATO 1*/
   .middle_tomato_one {
   	width: 900px;
    }
    .big_tomato_img{
    	height: 450px;
    	width: 450px;
    }
    .to_button{
    	margin: 30px 0 0 200px;
    }
    .to_child{
    	font-size: 90%;
    }
    .to_red_text{
    	width: 100%;
    }
    .middle_tomato_one_background{
    	width: 100%;
    }
}
@media screen and (max-width: 1085px){
	.search{
	margin-left: 100px;

	}
	.cell-img img{
		width: 450px;
		height: 450px;
	}
	.fl_list a{
		font-size: 10px;
	}
	.fl_ico{
		margin-left: 50px;
	}
	.fl_ico img{
		width: 20px;
		height: 20px;
	}
		.ma_h1{
		font-size: 80%;
	}
	.fl_base{
		padding: 20px 0 0 100px;
	}

		/*TOMATO ALL*/
		.header_content_tomato{
			width: 900px;
			margin: 0	auto;
		}
		.header_content_tomato .search{
			margin-left: 200px;
		}
	.tomato_info{
		font-size: 13px;
	}
	.ti_content{
		width: 700px;
	}
	.ti_blocks{
		width: 650px;
		margin: 0 auto;
		justify-content: center;
	}
	.ti_block {
    width: 260px;
    height: 260px;
    margin: 10px;
}
	.header_content_tomato .burger_menuX{
		width: 420px;
		padding: 20px 0 0 0 ;
		font-size: 20px	;
	}
    /*TONATO 1*/
    .middle_tomato_one{
    	width: 800px;
    }
    .to_child *{
    	font-size: 100%;
    }
    .big_tomato_img{
    	width: 380px;
    	height: 380px;
    }
    .to_button{
    	margin: 20px 0 0 150px;
    }
    .to_red_text h3{
    	font-size: 28px;
    }
}
@media screen and (max-width: 900px){
	.fl_list{
						margin-left: 0;
					}
		.fl_ico{
			margin: 0;
		}
	.burger_menuX{
		display: none;
	}
	.search_menu{
		width: 350px;
	}
		.header_content_top{
		width: 600px;
	}
	#menu_text{

		color:#fff;
	}
		[for=burger]{
			display: block;
			position: absolute;
			width: 50px;
			text-align: center;
		}

		.burger_menu{
			display: none;
		}
		#burger:checked + label + .burger_menu{
			display: block;
		}
		[for=burger]::before{
			content: '⋯';
		}
		#burger:checked+[for=burger]::before{
		content: '╳';
		}

			.cell-img img{
		color: ;
		width: 380px;
		height: 380px;	
	}
	.burger_menu{
		position: absolute;
		width: 100px;
		right: 150px;
		top: 80px;
		background: rgba(50, 50, 50, 0.5);
		padding: 20px;
	}
	.burger_menu a{
		margin:10px	 ;
	}
				.Products{
				  content: '';
 					 display: inline-block;
 						 height: 100%;
 					 vertical-align: middle;
  text-align: center;
			}
			#Products_div{
				height: 50px;
				width: 60%;
				margin: 10px ;
				vertical-align: middle;

				padding: 50px;
			}


			/*TOMATO ALL*/
					.header_content_tomato{
				width: 700px;
	}

.header_content_tomato label{
	top: 60px;
	right: 50px;
}

/*TOMATO 1*/
.middle_tomato_one{
	width: 680px;
	font-size: 80%;
}
.big_tomato_img{
	width: 320px;
	height:320px;
}
.to_button{
	margin:20px 0 0 80px	;
}
.to_red_text h3{ 
	font-size: 25px;
}
.to_red_text{
	width: 90%;
}
}
@media screen and (max-width: 800px){
		.row{
			display: inline-block;
		}
		.cell{
			width: 100%;
			height: 200px	;
			margin-bottom: 100px;
		} 

			.cell-img{
		width: 100%;
			}
			.row{
								  content: '';
 					 display: inline-block;
 						 height: 100%;
 					 vertical-align: middle;
  text-align: center;
			}
				.ma_content{
					 content: '';
 					 display: inline-block;
 					 vertical-align: middle;
					 text-align: center;
				}
				.ma_box{
					width:350px;
				}
				.ma_background{
					height: 1200px;
				}
				.ma_xxxxx{
					display:none;				}

				.logo img{
					width: 200px;
					height: 100px;
				}

					/*TOMATO ALL*/
		.header_content_tomato{
			width: 500px;
			margin: 0	auto;
		}
		.header_content_tomato .search{
			margin-left:0;
		}
	.tomato_info{
		font-size: 13px;
	}
	.ti_content{
		width: 450px;
	}
	.ti_blocks{
		width: 650px;
		margin: 0 auto;
		justify-content: center;
	}
	.ti_block {
    width: 260px;
    height: 260px;
    margin: 10px;
}
	.header_content_tomato .burger_menuX{
		width: 420px;
		padding: 20px 0 0 0 ;
		font-size: 20px	;
	}
	.ti_news{
	display: inline-block;
	width: auto;
	background-color: #FFFAFA;
	justify-content: center;
	margin: 20px;
	padding: 10px;
}
.ti_news div {
    width: 100%;
    margin: 40px 0;
}
.ti_blocks{
	width: 100%;
}

	.ti_hybrids{
		text-align: center;
	}

	/*TOMATO 1*/
	.middle_tomato_one{
		width: 600px;
		font-size: 80%;
	}
	.middle_tomato_one *{
		font-size: 90%;
	}
	.big_tomato_img{
		width: 300px;
		height: 300px;
	}
	.to_button{
		margin: 20px 0 0 50px;
	}
	.middle_tomato_one_background{
		height: 1100px;
	}
}
@media screen and (max-width:600px){
	.header_content_top{
		width: 450px;
	}
	.search_menu{
		width: 300px;
	}
	.search{
		margin-left: 0;
	}
	.fl_list a{
		font-size:6px ;
		width: 250px;
	}
	.fl_base{
		padding: 20px 0 0 60px;
	}
	.fl_ico img{
		width: 13px;
		height: 13px;
	}
	/*TOMATOs*/
	.ti_content{
		width: 400px;
	}
	.header_content_tomato{width: 350px}

	/*TOMATO 1*/
	.middle_tomato_one{
		width: 400px;
		height: 900px;
	}
	.to_red_text img{
		width: 50px;
		height: 50px;
	}
	.to_red_text h3{
		font-size: 15px;
	}
	.big_tomato_img{
		width: 200px;
		height: 200px;
	}
	.to_button{
		width: 150px;
	}
	.to_child *{
		font-size: 12px;
	}
	.header_content_tomato{
		width: 100%;
	}
	.mto{
		height: 900px;
	}
	.middle_tomato_one_background{
		height: 900px;
		margin-bottom: 100px;
	}
}

@media screen and (max-width: 450px) {
	.search{
		width: 90px;
	}
	.search_menu{
		width: 150px;
	}
	.header_content_top{
		width: 400px;
	}
	 .header_content_tomato .search{
	width: 200px;
	right: 50px;
}
.header_content_tomato .logo img{
	width: 120px;
	height: 70px;
}
}
