a{
	text-decoration: none;
}
/*VISION MISSION*/


.background_VM{
	background-image: url(../img/Union.png);	
	width:100% ;
	background-repeat: no-repeat;
	background-position:center;
	margin-top:100px ;
}
.Vision_Mission{
	margin:  0 auto;
	max-width: 1115px;
	height: 100%;

}
.row{
	display: flex;
	width: 100%;
}
.cell{
	width: 50%;
	font-family: sans-serif, Roboto Slab;
	color: #324950;
}
.cell *{
	padding: 0 40px;
}
.cell-img{
	width: 50%;	
}
.xxxxx{
	margin: 30px 0 ;
}
.textj{
	font-size:110%;
	padding-left: 80px;
}


/*AGRIDERA’S MAIN ACTIVITIES*/

.Products{
	width: 100%;
	background-color: #fff;
	display: flex;
	align-content: center;
	justify-content: center;
}
#Products_div{
	margin: 50px;
	font-size: 50%;
	width: 150px;
	height: 150px;
	text-align: center	;
	display: inline-block;
}
#Products_div p{
	color:#324950;
	font-family:  sans-serif, Roboto Slab;
}

.ma_background{
width: 100%;
height: 640px;
background-color:#EDEDED;
}

.main_activities{
	margin:  0	 auto;
	max-width: 1115px;
	height: 100%;	
	text-align: center;
	color: #324950;
}
.ma_h1{
	padding:10px;
	font-size: 130%;
}
.ma_content{
	height: 60%;
	display: flex;
	align-content: center;
	justify-content: center;
}
.ma_box{
width: 30%;
text-align: center;
}
.ma_box img{
	width: 200px;
	height: 200px;
}
.ma_box h2{
	font-size: 90%;
	color: #57984C;
}
.ma_box hr{
	color: #57984C;
	width: 40%;
}
.ma_box p{
	font-size: 14px;
	color: #324950;
	width: 100%;
}

/*BACKGROUND PAGE ALL TOMATO*/
.tomato_background{
	width: 100%;
	margin: 0;
}
.tomato_background img{
	width: 100%;
}

/*SITE-CONTENT ALL TOMATO*/

.tomato_info{
	width: 100%;
	font-size: 17px;
	margin-bottom: 50px;}
.body_tomato_all{
background-color: #fcf0f0;	
}
.ti_content{
	width: 1100px;
	margin: 0 auto;
}

.ti_hybrids p{	margin-top: 30px;
}
.ti_note{
	border-left:4px solid #EB5757;
	padding:10px;
	padding-left: 20px;
  display: flex;
  align-items: center;
}
.ti_note{
	height:30px;
}
.ti_news{
	display: flex;
	width: 100%;
	background-color: #FFFAFA;
	justify-content: center;
	margin: 20px;
	padding: 10px;
}
.ti_news div{
	width: 30%;
	margin: 10px;
}
.ti_news hr{
	color: #324950;
}
.ti_news h3{
	font-size: 20px;
}

.ti_blocks{
	width: 1150px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.ti_block{
	width: 30%;
	height: 350px;
	margin: 10px;
	display: flex;
	background-size: 350px 300px;
}
.ti_b_content{
	width: 100%;
	background:white;
	color: #57984C;
	text-align: center;
	align-self: self-end;

}
.ti_b_content h2{
	font-variant: bold;
}

.tag853{
 background-image: url(../img/tag853.png);
 background-repeat:no-repeat ;
}
.tag855{
 background-image: url(../img/tag855.png);
 background-repeat:no-repeat ;
}
.tag809{
 background-image: url(../img/tag809.png);
 background-repeat:no-repeat ;
}
.tag834{
 background-image: url(../img/tag834.png);
 background-repeat:no-repeat ;
}
.tag848{
 background-image: url(../img/tag848.png);
 background-repeat:no-repeat ;
}
.tag800{
 background-image: url(../img/tag800.png);
 background-repeat:no-repeat ;
}
.tag898{
 background-image: url(../img/tag898.png);
 background-repeat:no-repeat ;
}
.tag816{
 background-image: url(../img/tag816.png);
 background-repeat:no-repeat ;
}


/*TOMATO ONE MIDDLE*/
.body_tomato_one{
	background-color: #f7f7f7;
}
.middle_tomato_one_background{
	width: 	1448px;
	background-image: url(../img/Union2.png);
	background-repeat: no-repeat;
	margin: 0 auto;
	height: 1333px;
}
.middle_tomato_one{
	width: 1115px;
	margin: 0 auto;
	padding: 50px 0;
}
.to_red_text{
	width:550px;
	display: flex;
}
.to_red_text h3{
	width: 450px;
	font-size: 34px;
	padding-left: 20px;
	color: #CF2333;
}
.to_red_text img{
	width: 80px;
	height: 80px;
	margin:  auto 0;
}
.to_return{

	margin-bottom: 50px;
}
.to_return a{	
	font-size: 15px;
	color:  #57984C;
	font-family: sans-serif,Heebo;
}
.to_parent{
	width: 100%;
	display: flex;
	height: 1000px;
}
.to_child{
	width: 50%;
	height: 100%;
}
.to_child h1{
	font-size: 200%;
}
#to_list hr{
	width: 150px;
	color: #57984C;
	margin: 10px 0;
}
#to_list{
	font-size: 20px;
	color: #57984C;
	margin-bottom: 10px;
}
#to_list p{
	color:#324950;
}
#to_list h5{
	font-size: 20px;
	margin: 0;
}
.to_h1_green{
	font-family: sans-serif, Roboto Slab;
	color: #57984C;
}
.to_h1_black{
	font-family: sans-serif, Roboto Slab;
	color: #324950;
	margin:10px 0;
}
li span{
	color: #324950;
}
.to_button{
border: solid 2px #57984C;
border-radius: 30px;

width: 230px;
margin:30px 0 0 310px;
	text-align: center;
	display: flex;
	 justify-content: center;
  	align-items: center;
}
.to_button *{
	margin: 10px;
}
.to_button span{
	font-size: 17px;
	color: #57984C;
}
